*.pyc
*_*.prototxt
*.caffemodel
*.pickle
deeplab/exper/*/log
exp/log
plot/*.pdf
*_diff_.txt
*.bmp
*.jpg
*.jpeg
*.png
*.ppm
*.zip
*.tar.gz
*~
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
densecrf/
permutohedral/
code/main
*.log

*.mat
*.solverstate
*.bin
#*_*.prototxt

*.fig
*.mexa64
deeplab/exper/voc12/log/
data/

*.DS_Store
